<ion-header>
  <ion-toolbar>
    <ion-title>Notifications</ion-title>
       <ion-buttons slot="end" (click)="dismiss()" >
      <ion-icon slot="start" name="close"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card style="border-radius: 5px;">
  <ion-card-header>
    <ion-card-subtitle><img src="../../assets/google.png" alt="" style="width: 50px;"></ion-card-subtitle>
    <ion-card-title>Card Title</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Keep close to Nature's heart... and break clear away, once in awhile,
    and climb a mountain or spend a week in the woods. Wash your spirit clean.
  </ion-card-content>
</ion-card>
</ion-content>
