<ion-header>
  <ion-toolbar>
    <ion-title>forgotpasswordmodal</ion-title>
    <ion-buttons slot="end">
      close
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="!otprequested" @forgotpasswordanimation > 
 <form #form="ngForm"  (ngSubmit)="requestOtp()">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
       <img src="../../../assets/icon/favicon.png" alt="" style="margin-top:10%" >
          </div>
          <div padding style="padding-top: 25px;"> 
            <ion-item>
              <ion-input name="email" type="email" placeholder="your@email.com" ngModel required></ion-input>
            </ion-item>   
          </div>
      
          <div padding>
            <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">Reset Password</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  </div>

  <form #form="ngForm" *ngIf="otprequested" class="dealslist" [@otpanimation] (ngSubmit)="requestOtp()"  (@otpanimation.start)="onAnimationEvent($event)" style="z-index:5"
    (@otpanimation.done)="onAnimationEvent($event)">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
       <img src="../../../assets/icon/favicon.png" alt="" style="margin-top:10%" >
          </div>
          <div padding style="padding-top: 25px;"> 
            <ion-item>
              <ion-input name="otp" type="number" placeholder="enter otp" ngModel required></ion-input>
            </ion-item>   
          </div>
      
          <div padding>
            <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">Enter OTP</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
