ion-item.sc-ion-input-md-h:not(.item-label), ion-item:not(.item-label) .sc-ion-input-md-h{
   --padding-start: 10px;
    --border: 1px solid lightgray;
    --border-radius: 10px;
    // background: rgb(220,220,220,0.4);
}

.input-wrapper{
    border-radius: 10px;
}

.sc-ion-input-md-h{
    border: 1px solid gray;
    border-radius: 10px;
}

ion-item{
    padding-bottom: 10px;
}