<!-- <ion-header>
  <ion-toolbar>
    <ion-title *ngIf="mode !== 'register'">forgotpasswordmodal</ion-title>
    <ion-buttons slot="end" (click)="dismiss()" *ngIf="!otprequested">
      <ion-icon slot="start" name="close"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="start" *ngIf="otprequested" (click)="requestOtp()">
      <ion-back-button></ion-back-button>
      <ion-icon slot="end" name="arrow-back"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <!-- <ng-container *ngIf="mode != 'register'">
    <div *ngIf="!otprequested">
      <form #form="ngForm" (ngSubmit)="requestOtp()">
        <ion-grid>
          <ion-row color="primary" justify-content-center>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
              <div class="ion-text-center">
                <img
                  src="../../../assets/icon/favicon.png"
                  alt=""
                  style="margin-top:10%"
                />
              </div>
              <div padding style="padding-top: 25px;">
                <ion-item>
                  <ion-input
                    name="email"
                    type="email"
                    placeholder="your@email.com"
                    ngModel
                    required
                  ></ion-input>
                </ion-item>
              </div>

              <div padding>
                <ion-button
                  size="large"
                  type="submit"
                  [disabled]="form.invalid"
                  expand="block"
                  >Reset Password</ion-button
                >
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </div>

    <form
      #form="ngForm"
      *ngIf="otprequested"
      class="dealslist"
      (ngSubmit)="requestOtp()"
      style="z-index:5"
    >
      <ion-grid>
        <ion-row color="primary" justify-content-center>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            <div clsas="ion-text-center">
              <img
                src="../../../assets/icon/favicon.png"
                alt=""
                style="margin-top:10%"
              />
            </div>
            <div padding style="padding-top: 25px;">
              <ion-item>
                <ion-input
                  name="otp"
                  type="number"
                  placeholder="enter otp"
                  ngModel
                  required
                ></ion-input>
              </ion-item>
            </div>

            <div padding>
              <ion-button
                size="large"
                type="submit"
                [disabled]="form.invalid"
                expand="block"
                >Enter OTP</ion-button
              >
            </div>
          </ion-col>
          <ion-col size="12" text-center>
            <h5>Resend OTP</h5>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
    <ion-row> </ion-row>
  </ng-container>
  <ng-container *ngIf="mode == 'register'">
    <div *ngIf="!otprequested">
      <form #form="ngForm" (ngSubmit)="requestOtp()">
        <ion-grid>
          <ion-row color="primary" justify-content-center>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
              <div class="ion-text-center">
                <img
                  src="../../../assets/icon/favicon.png"
                  alt=""
                  style="margin-top:10%"
                />
              </div>
              <div padding style="padding-top: 25px;">
                <ion-item lines="none">
                  <ion-input
                    name="Phone"
                    type="number"
                    placeholder="Phone Number"
                    ngModel
                    required
                  ></ion-input>
                </ion-item>
              </div>

              <div padding>
                <ion-button
                  size=""
                  type="submit"
                  [disabled]="form.invalid"
                  expand="block"
                  >Next</ion-button
                >
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </div>
    <div *ngIf="otprequested">
      <form
        #form="ngForm"
        class="dealslist"
        (ngSubmit)="register()"
        style="z-index:5"
      >
        <ion-grid>
          <ion-row color="primary" class="ion-justify-content-center">
            <ion-col class="ion-align-self-center" size="12">
              <div class="ion-text-center">
                <img
                  src="../../../assets/icon/favicon.png"
                  alt=""
                  style="margin-top:10%"
                />
              </div>
              <div padding style="padding-top: 25px;">
                <ion-item lines="none">
                  <ion-input
                    name="Otp"
                    type="number"
                    placeholder="Enter Otp"
                    ngModel
                    required
                  ></ion-input>
                </ion-item>
                <h5 class="ion-text-center">And set your password</h5>
                <ion-item lines="none">
                  <ion-input
                    name="Password"
                    type="number"
                    placeholder="Password"
                    ngModel
                    required
                  ></ion-input>
                </ion-item>
              </div>

              <div padding>
                <ion-button
                  size=""
                  type="submit"
                  [disabled]="form.invalid"
                  expand="block"
                  >Enter OTP</ion-button
                >
              </div>
            </ion-col>
            <ion-col size="12" text-center>
              <button ion-button clear style="background-color: white;">
                Resend Otp
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </div>
    <div></div>
  </ng-container> -->

  <ng-container *ngIf="mode == 'SV'">
    <ion-row>
      <ion-col size="12" class="ion-text-right">
        <ion-label (click)="dismissModal()">
          <ion-icon
            name="md-close"
            style="font-size: 24px; color: #92949c;"
          ></ion-icon>
          <!-- <ion-icon name="ellipsis-vertical-outline"></ion-icon> -->
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <img src="../../assets/supervote.png" alt="" style="width: 80px;" />
      </ion-col>
      <ion-col size="12" class="ion-text-center">
        <h3 style="margin-top: 0px;">Super Votes</h3>
        <!-- <p style="font-size: small;margin-top: 0px;">PRC are awarded when you vote for 10 times.</p> -->
        <!-- <p>You can spend your PRC's to buy boosters which can help your photo get more noticed or show extra appreciation for others.</p> -->
        <!-- <p
        style="color: #92949c;
    font-size: x-small;"
      >
        Watch a video Ad to get 1 credit
      </p> -->
        <p style="font-size: small;">
          If you super vote this photo, it will be counted as 3 votes. This
          feature costs 30 Photo Rewards Credit.
        </p>
      </ion-col>
      <ion-col size="6">
        <ion-button (click)="superVote()" expand="block" fill="clear">
          Super Vote
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button (click)="dismissModal()" expand="block" fill="clear">
          No, Thanks
        </ion-button>
      </ion-col>
    </ion-row>
  </ng-container>

  <ng-container *ngIf="mode == 'BP'">
    <ion-row>
      <ion-col size="12" class="ion-text-right">
        <ion-label (click)="dismissModal()">
          <ion-icon
            name="md-close"
            style="font-size: 24px; color: #92949c;"
          ></ion-icon>
          <!-- <ion-icon name="ellipsis-vertical-outline"></ion-icon> -->
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <img src="../../assets/boostpost.png" alt="" style="width: 80px;" />
      </ion-col>
      <ion-col size="12" class="ion-text-center">
        <h3 style="margin-top: 0px;">Boost Post</h3>
        <p>
          Boost your pic to the top of the gallery and let it get the attention
          it deserve.
        </p>
        <p>
          Your photo will stay on top 25 minute with a special border to catch
          everyone's eye.
        </p>
        <p>This feature will costs 20 photoreward credits.</p>
      </ion-col>
      <ion-col size="6">
        <ion-button (click)="boosPost()" expand="block" fill="clear">
          Boost Post
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button (click)="dismissModal()" expand="block" fill="clear">
          No, Thanks
        </ion-button>
      </ion-col>
    </ion-row>
  </ng-container>
</ion-content>
