.side{
    height: fit-content;
}
.content{
    position: relative;
    background: white;
    top: 35%;
    width: 80vw;
    height: 80px;
    z-index: 1111111;
    border-radius: 25px;
    left: 50%;
    transform: translate(-50%, -50%);
//   clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
    box-shadow:0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12)
}

h3,h5{
    color: black;

}

h5{
    margin:0px
}

img{
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    border-radius: 10px;
    
}
.container img{
  filter: brightness(0.8);
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: x-large;
}
ion-card{
--background: var(--ion-item-background,transparent); 
    --color: var(--ion-color-step-600,#666);
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 24px;
    // margin-bottom: 24px;
    border-radius: 8px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: -webkit-transform .5s cubic-bezier(.12,.72,.29,1);
    transition: -webkit-transform .5s cubic-bezier(.12,.72,.29,1);
    transition: transform .5s cubic-bezier(.12,.72,.29,1);
    transition: transform .5s cubic-bezier(.12,.72,.29,1),-webkit-transform .5s cubic-bezier(.12,.72,.29,1);
    font-size: 14px;
    -webkit-box-shadow: 0 4px 16px rgba(0,0,0,.12);
    box-shadow: 0 4px 16px rgba(0,0,0,.12);
}

.card6 ion-item {
  --padding-start:0px
  --padding-
}

ion-thumbnail{
    margin-right: 10px;
}

.medal6cols{
    position: absolute;
                width: 30px;
                box-shadow: none;
                top: 5px;
                z-index: 11111111111111;
                left: 22px;
}