.grida{
    --ion-grid-padding:5px
}

.wrap{
  border: 5px solid;
    border-radius: 5px;
    border-image: conic-gradient(red, yellow, lime, aqua, blue, magenta, red) 1;
}

ion-thumbnail{
height: 300px;
    width: 300px;
}
ion-slide >:first-child {
    width: 100%;
}


