<ng-container *ngIf="!iswinner; else elseTemplate">
  <ion-grid class="grida">
    <ion-row class="galleryrow">
      <!-- <ion-col size="4" style="padding:5px">
<ion-thumbnail>
   <img
          src="../../../assets/demoimage.jpg"
          alt=""
          (click)="openimageModal()"
          class="wrap"
          [ngClass]="{ wrap: !boost }"
        />
</ion-thumbnail>
      
                <img src="../../assets/Asset 2.png" alt="" style="width: 40px;
    position: absolute;
    left: 0px;bottom: 0px;" *ngIf="!boost"> 
      </ion-col> -->
      <ion-col
        size="6"
        *ngFor="let item of items; let i = index"
        style="padding: 5px;"
        @items
      >
        <!-- <ion-thumbnail> -->

        <div>
          <img
            src="../../../assets/demoimage.jpg"
            alt=""
            (click)="openimageModal(i)"
            class="wrap"
            [ngClass]="{ wrap: !boost }"
          />
          <!-- <ion-button
            (click)="onClick()"
            expand="block"
            fill="clear"
            shape="round"
            style="
                position: absolute;
    bottom: 8px;
    /* justify-content: center; */
    /* display: flex; */
    /* align-items: center; */
    /* align-self: center; */
    left: 50%;
    transform: translate(-50%);
    opacity: 0.8;
    text-transform: none;
    height: 1.8em;
    --border-radius: 5px;
            "
          >
            Vote          </ion-button> -->
        </div>

        <!-- </ion-thumbnail> -->

        <img
          src="../../assets/Asset 2.png"
          alt=""
          style="width: 40px; position: absolute; left: 0px; top: 10px;"
          *ngIf="!boost"
        />
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-infinite-scroll
    threshold="25%"
    position="bottom"
    (ionInfinite)="loadData($event)"
  >
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ng-container>
<ng-template #elseTemplate>
  <ion-grid class="grida">
    <ion-row class="galleryrow">
      <ion-col size="6" *ngFor="let item of items" style="padding: 2px;">
        <img
          src="../../assets/backpacks.jpg"
          alt=""
          (click)="openimageModal(item)"
        />
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-infinite-scroll
    threshold="25%"
    [disabled]="true"
    position="bottom"
    (ionInfinite)="loadData($event)"
  >
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ng-template>
