 <ng-container *ngIf="!iswinner; else elseTemplate">
         <ion-grid  class="grida">
     <ion-row class="galleryrow">
        <ion-col size="4" *ngFor="let item of items" style="padding:2px">
          
       <img src="../../assets/backpacks.jpg" alt="" (click)="openimageModal()">
     
        </ion-col>
      </ion-row>
      </ion-grid>
      </ng-container>
      <ng-template #elseTemplate>
               <ion-grid  class="grida">
     <ion-row class="galleryrow">
        <ion-col size="6" *ngFor="let item of items" style="padding:2px">
          
       <img src="../../assets/backpacks.jpg" alt="" (click)="openimageModal()">
     
        </ion-col>
      </ion-row>
      </ion-grid>
      </ng-template>
      