   <ion-virtual-scroll [items]="items" approxItemHeight="320px">
    <ion-card *virtualItem="let item; let itemBounds = bounds;">
      <div>
        <ion-img [src]="item.imgSrc" style="height:200px" [alt]="item.name"></ion-img>
      </div>
    <ion-card-header style="padding-bottom: 5px;">
      <ion-row>
        <ion-col size="6">
 <ion-button fill="outline">
  <ion-icon slot="start" name="star"></ion-icon>
 Vote
</ion-button>
        </ion-col>
        <ion-col size="6" class="ion-text-right">
 <ion-button fill="outline">
  <ion-icon slot="start" name="share"></ion-icon>
 Share
</ion-button>
        </ion-col>
      </ion-row>
      

      <ion-card-title>Prateek Agnihotri</ion-card-title>
       
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col size="12">
        <p>26/26/2020</p>
        </ion-col>
      </ion-row>
     
    </ion-card-content>
    </ion-card>
  </ion-virtual-scroll>