
<ng-container *ngIf="items">
<ion-list *ngIf="!iswinner">
  <ion-item *ngFor="let item of items" @items>
    <ion-card
      routerLink="/cdescription/{{ item.position }}"
      routerDirection="forward"
      style="margin: 15px auto;"
      class="ion-align-items-center"
    >
      <div class="container" class="ion-text-center">
        <img src="../../assets/{{item.name}}" alt="" style="filter: brightness(0.7);" />
        <div class="centered">{{item.symbol}}</div>

        <div class="bottomcentered">
         &#8377; 1000
        </div>
        <div class="bottom-left">
          08 Days
        </div>
        <div class="bottom-right">
          4175 photos
        </div>
      </div>
    </ion-card>
  </ion-item>
</ion-list>
<ion-list *ngIf="iswinner">
  
   <ion-item *ngFor="let item of items">
    <ion-card
      routerLink="/winners/{{ item.position }}"
      style="margin: 15px auto;"
      class="ion-align-items-center"
    >
      <div class="container" class="ion-text-center">
        <img src="../../assets/{{item.name}}" alt="" style="filter: brightness(0.7);" />
        <div class="centered">{{item.symbol}}</div>

        <div class="bottomcentered">
          &#8377; 1000
        </div>
        <div class="bottom-left">
          08 Days
        </div>
        <div class="bottom-right">
          4175 photos
        </div>
      </div>
    </ion-card>
  </ion-item>
</ion-list>

</ng-container>


<div *ngIf="!items">
  <ion-list>
    <ion-item>
        <ion-skeleton-text animated style="height: 200px;"></ion-skeleton-text>
    </ion-item>
       <ion-item>
        <ion-skeleton-text animated style="height: 200px;"></ion-skeleton-text>
    </ion-item>
       <ion-item>
        <ion-skeleton-text animated style="height: 200px;"></ion-skeleton-text>
    </ion-item>
      <ion-item>
        <ion-skeleton-text animated style="height: 200px;"></ion-skeleton-text>
    </ion-item>
  </ion-list>
</div>