
<ion-content no-padding style="--background: transparent;">
  <div class="fire-logo">
    <img src="../../assets/google.png" class="img-logo" />
  </div>
  <img src="../../assets/b3.png" alt="" class="loginbg" />

  <div class="main">
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-padding-vertical">
        <h1 no-margin margin-vertical text-center style="color: white;">
          Welcome
        </h1>

        <ion-button
          size="large"
          expand="block"
          type="submit"
          color="primary"
          class="transition"
          style="margin-top: 20px;"
          (click)="loginWithNumber()"
        >
          <ion-icon slot="start" name="call"></ion-icon>
          Login with Number</ion-button
        >
        <ion-button
          (click)="loginWithGoogle()"
          expand="block"
          style="--background: white; color: black; margin-top: 10px;"
          size="large"
        >
          <img
            src="../../assets/google.png"
            alt=""
            slot="start"
            style="width: 30px; margin-right: 10px;"
          />
          Continue with google
        </ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
