<!-- <ion-content>
  <ion-row>
    <ion-col size="12">
      <ng-container *ngIf="!enterOTP">
   <form #form="ngForm" (ngSubmit)="requestOTP()">
        <ion-grid>
          <ion-row color="primary" justify-content-center>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
              <div class="ion-text-center">
                <img
                  src="../../../assets/icon/favicon.png"
                  alt=""
                  style="margin-top:10%"
                />
              </div>
              <div padding style="padding-top: 25px;">
                <ion-item lines="none">
                   <ion-label position="floating">Username</ion-label> 
                  <ion-input
                    name="Mobile"
                    type="Number"
                    placeholder="Mobile Number"
                    ngModel
                    required
                  ></ion-input>
                </ion-item>
              </div>
              <div padding>
                <ion-button
                  size=""
                  type="submit"
                  [disabled]="form.invalid"
                  expand="block"
                  >
                  Submit
                  </ion-button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>

      <ion-row>
        <ion-col size="12" align-self-center>
          <div class="ion-text-center">
            Or
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size="12" class="ion-align-items-center ion-text-center">
         
          <ion-button
            (click)="onClick()"
            expand="block"
            style="--background: white;color: black;"
          >
            <ion-icon
              name="logo-google"
              style="font-size: large;"
              slot="start"
            ></ion-icon>
            Continue with google
          </ion-button>
        </ion-col>
         <ion-col size="3">
    <ion-icon name="logo-google"></ion-icon>
 
    </ion-col> 
      </ion-row>
      <ion-row style="margin-top: 25px;">
        <ion-col size="12" class="ion-text-center">
          <p style="font-size: small;">
            By signing up or login, I accept and agree to
          </p>
          <p style="font-size: small;">
            <a href="">Terms and Conditions</a> and
            <a href="">Privacy Policy </a>
          </p>
        </ion-col>
      </ion-row>
      </ng-container>
   <ng-container *ngIf="enterOTP">
     <ion-row class="ion-">
       <ion-col size="12">
 <h5>Verify Mobile Number</h5>
     <h6>Waiting to automatically detect SMS sent to</h6>
     <h6>+91- 8851610111 <a href="">Change Number?</a></h6>
       </ion-col>
       <ion-col size="12">
            <form #form="ngForm" (ngSubmit)="submitOtp()">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
       <img src="../../../assets/icon/favicon.png" alt="" style="margin-top:10%" >
          </div>
          <div padding style="padding-top: 25px;"> 
            <ion-item lines="none">
              <ion-input name="Otp" type="number" placeholder="Otp" ngModel required></ion-input>
            </ion-item>   
          </div>
      
          <div padding>
            <ion-button size="" type="submit" [disabled]="form.invalid" expand="block">Enter Otp</ion-button>
          </div>
          
        </ion-col>
         
        <ion-col size="12">
          <div class="prompt">
	Enter the code generated on your mobile device below to log in!
</div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
       </ion-col>
     </ion-row>
    
  
  <ion-row>
   <ion-col size="12" text-center>
     <h4>slkdhjfdskhgf</h4>
    </ion-col>
  </ion-row>
   </ng-container>
    </ion-col>
  </ion-row>
</ion-content> -->

  <ion-content no-padding>
    <div class="main">

    
    <ion-row class="ion-align-items-center "> 
      <ion-col size="12" class="ion-padding-vertical">
 <ion-card no-margin *ngIf="!showOTPInput">
      <ion-card-content>
        <ion-row class="row">
          <div class="fire-logo">
            <img src="../../assets/icon/favicon.png" class="img-logo">
            <ion-text padding>
              <h2 no-margin margin-vertical text-center>Welcome</h2>
            </ion-text>
          </div>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-input clearInput type="number" placeholder="Number" [(ngModel)]="Mobile" class="input" padding-horizontal
              clear-input="true" (ionChange)="callmethod()" debounce=1000></ion-input>
          </ion-col>
      
          
              <ion-col size="12">
            <ion-button *ngIf="!showOTPInput" expand="block" (click)="next()" color="undefined" class="transition">
              <strong class="white">
                Next</strong></ion-button>
            <ion-button *ngIf="showOTPInput" expand="block" (click)="register()" color="undefined" class="transition">
              <strong class="white">
                Register</strong></ion-button>
          </ion-col>
          <ng-container *ngIf="!showOTPInput">
    <ion-col size="12">
          <h5 class="ion-text-center">Or</h5>  
          </ion-col>
            <ion-col>
            <ion-button
            (click)="onClick()"
            expand="block"
            style="--background: white;color: black;"
          >
            <ion-icon
              name="logo-google"
              style="font-size: large;"
              slot="start"
            ></ion-icon>
            Continue with google
          </ion-button>
          </ion-col>
          </ng-container>
          
        </ion-row>
        <!-- <ion-row>
          <ion-col>
            <ion-input clearInput type="password" placeholder="Password" [(ngModel)]="password" class="input"
              padding-horizontal clear-input="true"></ion-input>
          </ion-col>
        </ion-row> -->
        <!-- <ion-row *ngIf="showOTPInput">
          <ion-col>
            <ion-input clearInput type="tel" [(ngModel)]="OTP" maxlength="6" class="otpinput" padding-horizontal>
            </ion-input>
          </ion-col>
        </ion-row> -->
        <ion-row *ngIf="showOTPInput" class="OTP-border">
          <ion-col>
            <div>
              <ion-input name="1"  type="tel" [(ngModel)]="OTP[0]" maxlength="6" class="otpinput"
                padding-horizontal>
              </ion-input>
            </div>
          </ion-col>
          <ion-col>
            <div>
              <ion-input name="2"  type="tel" [(ngModel)]="OTP[1]" maxlength="6" class="otpinput"
                padding-horizontal>
              </ion-input>
            </div>
          </ion-col>
          <ion-col>
            <div>
              <ion-input name="3"  type="tel" [(ngModel)]="OTP[2]" maxlength="6" class="otpinput"
                padding-horizontal>
              </ion-input>
            </div>
          </ion-col>
          <ion-col>
            <div>
              <ion-input name="4"  type="tel" [(ngModel)]="OTP[3]" maxlength="6" class="otpinput"
                padding-horizontal>
              </ion-input>
            </div>
          </ion-col>
          <ion-col>
            <div>
              <ion-input name="5"  type="tel" [(ngModel)]="OTP[4]" maxlength="6" class="otpinput"
                padding-horizontal>
              </ion-input>
            </div>
          </ion-col>
          <ion-col>
            <div>
              <ion-input name="6"  type="tel" [(ngModel)]="OTP[5]" maxlength="6" class="otpinput"
                padding-horizontal>
              </ion-input>
            </div>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="showOTPInput">
          <ion-col>
            <ion-text class="small">{{OTPmessage}}</ion-text>
          </ion-col>
        </ion-row>
        <!-- <ion-row>
          <ion-col>
            <ion-button *ngIf="!showOTPInput" expand="block" (click)="next()" color="undefined" class="transition">
              <strong class="white">
                Next</strong></ion-button>
            <ion-button *ngIf="showOTPInput" expand="block" (click)="register()" color="undefined" class="transition">
              <strong class="white">
                Register</strong></ion-button>
          </ion-col>
        </ion-row> -->

        <ion-row *ngIf="showOTPInput">
          <ion-col>
            <ion-item lines="none">
              <ion-label>Resend Otp</ion-label>
            </ion-item>
                 <ion-item lines="none" (click)="changeMobileNumber()">
              <ion-label>Change Mobile Number</ion-label>
            </ion-item>
                 <!-- <ion-item lines="none">
              <ion-label>Resend Otp</ion-label>
            </ion-item> -->
            <!-- <ion-item lines="none" (click)="enterCode()">
              <ion-label>Enter code yourself</ion-label>
            </ion-item> -->
            <!-- <ion-text text-center class="block">
              <span class="bold"></span></ion-text> -->
          </ion-col>
        </ion-row>
        <!-- <ion-row>
          <ion-col>
            <ion-text text-center class="block bold">Forgot Password</ion-text>
          </ion-col>
        </ion-row> -->
      </ion-card-content>
    </ion-card>
    <ion-card *ngIf="showOTPInput">
<ion-card-content>
  <ion-row>
    <ion-col size="12">
      Verify Mobile Number
    </ion-col>
    <ion-col size="12">
      Waiting to automatically detect SMS sent to 
      <p>8851610111 <a (click)="changeNumber()">Change Number?</a></p>
    </ion-col>
  </ion-row>
      <ion-row *ngIf="showOTPInput" class="OTP-border">
          <ion-col>
            <div>
              <ion-input name="1"  type="tel" [(ngModel)]="OTP[0]" maxlength="6" class="otpinput"
                padding-horizontal (keyup)="enter($event, 0 , 1)">
              </ion-input>
            </div>
          </ion-col>
          <ion-col>
            <div>
              <ion-input name="2"  type="tel" [(ngModel)]="OTP[1]" maxlength="6" class="otpinput"
                padding-horizontal>
              </ion-input>
            </div>
          </ion-col>
          <ion-col>
            <div>
              <ion-input name="3"  type="tel" [(ngModel)]="OTP[2]" maxlength="6" class="otpinput"
                padding-horizontal>
              </ion-input>
            </div>
          </ion-col>
          <ion-col>
            <div>
              <ion-input name="4"  type="tel" [(ngModel)]="OTP[3]" maxlength="6" class="otpinput"
                padding-horizontal>
              </ion-input>
            </div>
          </ion-col>
          <ion-col>
            <div>
              <ion-input name="5"  type="tel" [(ngModel)]="OTP[4]" maxlength="6" class="otpinput"
                padding-horizontal>
              </ion-input>
            </div>
          </ion-col>
          <ion-col>
            <div>
              <ion-input name="6"  type="tel" [(ngModel)]="OTP[5]" maxlength="6" class="otpinput"
                padding-horizontal>
              </ion-input>
            </div>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="showOTPInput">
          <ion-col>
            <ion-text class="small">{{OTPmessage}}</ion-text>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="showOTPInput">
          <ion-col>
            <ion-item lines="none">
              <ion-label slot="start">Resend OTP</ion-label>
              <ion-label slot="end">50s</ion-label>
            </ion-item>
                 <!-- <ion-item lines="none" (click)="changeMobileNumber()">
              <ion-label>Change Mobile Number</ion-label>
            </ion-item> -->
                 <!-- <ion-item lines="none">
              <ion-label>Resend Otp</ion-label>
            </ion-item> -->
            <ion-item lines="none" (click)="enterCode()">
              <ion-label>Enter code yourself</ion-label>
            </ion-item>
            <!-- <ion-text text-center class="block">
              <span class="bold"></span></ion-text> -->
          </ion-col>
        </ion-row>
</ion-card-content>      
    </ion-card>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
<!-- <ion-footer>
  <ion-toolbar>
    <ion-title text-center>
      Made by Enappd
    </ion-title>
  </ion-toolbar>
</ion-footer> -->

