<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
  <!-- <ion-toolbar>
    <ion-segment (ionChange)="segmentChanged()" [(ngModel)]="segment">
      <ion-segment-button value="0" layout="icon-start">
        <ion-label>You</ion-label>
        <ion-icon name="call"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="1" layout="icon-start">
        <ion-icon name="cloud-upload"></ion-icon>
        <ion-label>Photos</ion-label>
      </ion-segment-button>
      <ion-segment-button value="2" layout="icon-start">
        <ion-icon name="paper"></ion-icon>
        <ion-label>Conditions</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar> -->
</ion-header>
<ion-content overflow-scroll="true">
  <!-- <ion-slides #slider (ionSlideDidChange)="slideChanged()" mode="ios">
    <ion-slide class="slide-1">
       <ion-list>
        <ion-item *ngFor="let item of items ">
          <ion-card  routerLink="/contests/123" style="height: 80vw;">
            <div class="container">
              <img src="../../assets/backpacks.jpg" alt="" />
              <div class="centered">Colorful</div>
              <div class="centeredsubheading">Prateek</div>
              <div class="bottomcentered">
                7days
              </div>
              <div class="bottom-left">
                1000
              </div>
              <div class="bottom-right">
                7days
              </div>
            </div>
          </ion-card>
        </ion-item>
      </ion-list> 
       <app-tabviewgallery></app-tabviewgallery>
    </ion-slide>
    <ion-slide class="slide-2">
      <app-gallery #gallery></app-gallery>
    </ion-slide>
    <ion-slide class="slide-3" style="height: 100vh;">
      <ion-row>
        <ion-col size="12">
    <ion-row>
        <ion-col size="12">
             <ion-card style="padding:16px 0px 16px 0px" class="conditioncard">
        <ion-card-content>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, delectus!</p>
          <p>Lorem, ipsum.</p>
        </ion-card-content>
      </ion-card>
        </ion-col>
      </ion-row>
       <ion-row>
          <ion-row>
     <ion-col size="12">
  <ion-card style="padding:16px 0px 16px 0px" class="conditioncard">
     <ion-card-header>
    <ion-card-title>

          <ion-icon slot="start" name="add"></ion-icon>
         Prize</ion-card-title>
  </ion-card-header>
     
        <ion-card-content>
          <p>Hero, Top 5</p>
        
        </ion-card-content>
      </ion-card>
     </ion-col>
   </ion-row>
    
     <ion-col size="12">
  <ion-card style="padding:16px 0px 16px 0px" class="conditioncard">
     <ion-card-header>
    <ion-card-title>

          <ion-icon slot="start" name="add"></ion-icon>
          Photos Condition</ion-card-title>
  </ion-card-header>
     
        <ion-card-content>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, delectus!</p>
          <p>Lorem, ipsum.</p>
        </ion-card-content>
      </ion-card>
     </ion-col>
   </ion-row>
    <ion-row>
     <ion-col size="12">
  <ion-card style="padding:16px 0px 16px 0px" class="conditioncard">
     <ion-card-header>
    <ion-card-title>

          <ion-icon slot="start" name="add"></ion-icon>
         Legal Terms</ion-card-title>
  </ion-card-header>
     
        <ion-card-content>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
        
        </ion-card-content>
      </ion-card>
     </ion-col>
   </ion-row>
    
        </ion-col>
      </ion-row>
  
  
    </ion-slide>
  </ion-slides> -->
  <super-tabs>
    <super-tabs-toolbar position="top" showIndicator="false">
      <super-tab-button>
        <ion-button class="supertabtransparentbuttons">
          <ion-icon
            slot="start"
            name="images"
            style="--color:#757575"
          ></ion-icon>
          Photos
        </ion-button>
      </super-tab-button>
      <super-tab-button>
        <ion-button class="supertabtransparentbuttons">
          <ion-icon slot="start" name="book" style="--color:#757575"></ion-icon>
          Description
        </ion-button>
      </super-tab-button>
      <super-tab-button>
        <ion-button class="supertabtransparentbuttons">
          <ion-icon
            slot="start"
            name="person"
            style="--color:#757575"
          ></ion-icon>
          You
        </ion-button>
      </super-tab-button>
    </super-tabs-toolbar>
    <super-tabs-container>
      <super-tab>
        <ion-content>
          <app-gallery></app-gallery>
        </ion-content>
      </super-tab>
      <super-tab>
        <ion-content>
          <ion-row>
            <ion-col size="12">
          <ion-row>
            <ion-col size="12" style="margin-top:10px">
              <ion-row>
                <ion-col size="6" class="ion-text-left">
                  <h5>Colorful</h5>
                  <h6>8 days</h6>
                </ion-col>
                   <ion-col size="6" class="ion-text-right">
                  <h5>Total Prize</h5>
                  <h6>3000</h6>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
                <ion-row class="ion-text-left">
                  <ion-col size="4" 
                    ><ion-card
                      class="awardcard"
                      ><ion-row
                        ><ion-col size="5" style=""
                          ><img
                            src="../../assets/gold.png"
                            class="awardimage"
                            /></ion-col
                        ><ion-col size="7" class="ion-align-self-center"
                          ><span style="font-weight: 600;">1<sup>st</sup></span>
                          <p
                            class="prizetext"
                          >
                              &#8377;5000
                          </p>
                        </ion-col></ion-row
                      ></ion-card
                    ></ion-col
                  >
                     <ion-col size="4" 
                    ><ion-card
                      class="awardcard"
                      ><ion-row
                        ><ion-col size="5" style=""
                          ><img
                            src="../../assets/silver.png"
                            class="awardimage"
                            /></ion-col
                        ><ion-col size="7" class="ion-align-self-center"
                          ><span style="font-weight: 600;">2<sup>nd</sup></span>
                          <p
                            class="prizetext"
                          >
                              &#8377;5000
                          </p>
                        </ion-col></ion-row
                      ></ion-card
                    ></ion-col
                  >
                     <ion-col size="4" 
                    ><ion-card
                      class="awardcard"
                      ><ion-row
                        ><ion-col size="5" style=""
                          ><img
                            src="../../assets/bronze.png"
                            class="awardimage"
                            /></ion-col
                        ><ion-col size="7" class="ion-align-self-center"
                          ><span style="font-weight: 600;">3<sup>rd</sup></span>
                          <p
                            class="prizetext"
                          >
                              &#8377;5000
                          </p>
                        </ion-col></ion-row
                      ></ion-card
                    ></ion-col
                  >
                </ion-row>
            
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <!-- <ion-card>
                <ion-card-content> -->
              <ion-row>
                <ion-col size="12">
                  <h3>Rules</h3>
                </ion-col>
                <ion-col size="12">
                  <ion-item lines="none">
                    <ion-label>
                      <ion-icon
                        slot="start"
                        md="md-checkbox-outline"
                        style="color:#03A9F4"
                      ></ion-icon>
                      Pizza
                    </ion-label>
                  </ion-item>

                  <ion-item lines="none">
                    <ion-label>
                      <ion-icon
                        slot="start"
                        md="md-checkbox-outline"
                        style="color:#03A9F4"
                      ></ion-icon>
                      Pizza
                    </ion-label>
                  </ion-item>
                  <ion-item lines="none">
                    <ion-label>
                      <ion-icon
                        slot="start"
                        md="md-checkbox-outline"
                        style="color:#03A9F4"
                      ></ion-icon>
                      Pizza
                    </ion-label>
                  </ion-item>
                  <ion-item lines="none">
                    <ion-label>
                      <ion-icon
                        slot="start"
                        md="md-checkbox-outline"
                        style="color:#03A9F4"
                      ></ion-icon>
                      Pizza
                    </ion-label>
                  </ion-item>
                  <ion-item lines="none">
                    <ion-label>
                      <ion-icon
                        slot="start"
                        md="md-checkbox-outline"
                        style="color:#03A9F4"
                      ></ion-icon>
                      Pizza
                    </ion-label>
                  </ion-item>
                  <ion-item lines="none">
                    <ion-label>
                      <ion-icon
                        slot="start"
                        md="md-checkbox-outline"
                        style="color:#03A9F4"
                      ></ion-icon>
                      Pizza
                    </ion-label>
                  </ion-item>
                </ion-col>
              </ion-row>
              <!-- </ion-card-content>
              </ion-card> -->
            </ion-col>
          </ion-row>
        </ion-content>
      </super-tab>
      <super-tab>
        <ion-grid  class="grida">
     <ion-row class="galleryrow">
        <ion-col size="6" *ngFor="let item of items" style="padding:2px">
          
       <img src="../../assets/demoimage.jpg" alt="" (click)="openMyimageModal()">
     
        </ion-col>
      </ion-row>
      </ion-grid>
      </super-tab>
    </super-tabs-container>
  </super-tabs>
</ion-content>
<ion-footer class="footerdesign">
  <ion-button
    expand="block"
    style="text-transform:none;    text-transform: none;
    margin: 0px;
    height: 40px;
    --border-radius: 0px;"
    (click)="goToTabBar()"
    >Upload Photo - Free</ion-button
  >
</ion-footer>
