 <ion-header>
  <ion-toolbar>
    <ion-title>
      Setting
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list lines="none">
    
      <ion-item >
        <!-- <ion-icon slot="start" color="medium" name="ios-settings-outline"></ion-icon> -->
       <ion-icon name="settings" slot="start"></ion-icon>
        <ion-label>Help & Support</ion-label>
         <ion-icon slot="end" color="medium" name="ios-arrow-dropright"></ion-icon>
      </ion-item>
      <ion-item >
          <ion-icon slot="start" color="" name="person-add"></ion-icon>
        <ion-label>Invite Contact</ion-label>
         <ion-icon slot="end" color="medium" name="ios-arrow-dropright"></ion-icon>
      </ion-item>
      <ion-item >
        <ion-icon slot="start" name="information-circle"></ion-icon>
        <ion-label>Terms and Conditions</ion-label>
          <ion-icon slot="end" color="medium" name="ios-arrow-dropright"></ion-icon>
      </ion-item>
      <ion-item >
            <ion-icon slot="start" name="document"></ion-icon>
        <ion-label>Privacy Policy</ion-label>
         <ion-icon slot="end" color="medium" name="ios-arrow-dropright"></ion-icon>
      </ion-item>
      <ion-item class="togglebuttons">
                 <ion-icon slot="start" name="notifications"></ion-icon>
        <ion-label>Notification</ion-label>
  <ion-toggle enabled checked="false"></ion-toggle>
      </ion-item>
        <ion-item class="togglebuttons"> 
            <ion-icon slot="start" name="contrast"></ion-icon>
        <ion-label>Dark Mode</ion-label>
  <ion-toggle enabled [checked]="bdarkmode" id="themeToggle" (ionChange)="darkMode($event)" #darkmode></ion-toggle>

      </ion-item>
      <ion-item >
        <!-- <ion-icon slot="start" color="medium" name="ios-settings-outline"></ion-icon> -->
       <ion-icon name="settings" slot="start"></ion-icon>
        <ion-label>Change Number</ion-label>
         <ion-icon slot="end" color="medium" name="ios-arrow-dropright"></ion-icon>
      </ion-item>
       <ion-item (click)="deleteAccount()" >
                 <ion-icon slot="start" name="trash"></ion-icon>

        <ion-label>Delete Account</ion-label>
         <ion-icon slot="end" color="medium" name="ios-arrow-dropright"></ion-icon>
      </ion-item>
       <ion-item (click)="onClick()">
         
                       <ion-icon slot="start" name="log-out"></ion-icon>        
        <ion-label>Logout</ion-label>
         <ion-icon slot="end" color="medium" name="ios-arrow-dropright"></ion-icon>
      </ion-item>
    </ion-list>
    </ion-content>