 <ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list lines="none">
      <ion-item href="https://ionicframework.com/docs/">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Change Password</ion-label>
         <ion-icon slot="end" color="medium" name="ios-arrow-dropright"></ion-icon>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/building/scaffolding">
        <ion-icon slot="start" color="medium" name="build"></ion-icon>
        <ion-label>Help & Support</ion-label>
         <ion-icon slot="end" color="medium" name="ios-arrow-dropright"></ion-icon>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/layout/structure">
        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
        <ion-label>Invite Contact</ion-label>
         <ion-icon slot="end" color="medium" name="ios-arrow-dropright"></ion-icon>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/theming/basics">
        <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
        <ion-label>Terms and Conditions</ion-label>

          <ion-icon slot="end" color="medium" name="ios-arrow-dropright"></ion-icon>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/theming/basics">
        <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
        <ion-label>Privacy Policy</ion-label>
         <ion-icon slot="end" color="medium" name="ios-arrow-dropright"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
        <ion-label>Notification</ion-label>
      
  <ion-toggle enabled checked="false"></ion-toggle>

      </ion-item>
      <ion-item href="https://ionicframework.com/docs/theming/basics">
        <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
        <ion-label>Dark Mode</ion-label>
         <ion-icon slot="end" color="medium" name="ios-arrow-dropright"></ion-icon>
      </ion-item>
       <ion-item href="https://ionicframework.com/docs/theming/basics">
        <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
        <ion-label>Delete Account</ion-label>
         <ion-icon slot="end" color="medium" name="ios-arrow-dropright"></ion-icon>
      </ion-item>
       <ion-item (click)="onClick()">
        <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
        <ion-label>Logout</ion-label>
         <ion-icon slot="end" color="medium" name="ios-arrow-dropright"></ion-icon>
      </ion-item>
    </ion-list>
  

 
    </ion-content>