<ion-header>
  <ion-toolbar>
    <ion-title>
     Home
    
    </ion-title>
      <ion-icon slot="end" name="add" style="margin-right: 15px;
    font-size: 20px;" (click)="presentPopover()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card" routerLink="/contests/123">
      <div class="front side">
		<div class="content">
      <h1>Current Challenges</h1>
      <p>5 Ongoing</p>
		</div>
  </div>
    
    </ion-card>
     <ion-card class="welcome-card">
      <div class="front side">
		<div class="content">
      <h1>Upcoming Challenges</h1>
      <p>5 Ongoing</p>
		</div>
  </div>
    
    </ion-card>
     <ion-card class="welcome-card" routerLink="/winners">
      <div class="front side">
		<div class="content">
      <h1>Winners</h1>
      <p>5 Ongoing</p>
		</div>
  </div>
    
    </ion-card>
</ion-content>
