<ion-header class="ion-no-border">
  <ion-toolbar>
    <!-- <ion-icon
      slot="start"
      name="notifications"
      style="margin-left: 15px;"
      (click)="openNotificationModal()"
    ></ion-icon> -->
    <ion-title
      class="ion-text-left"
      style="padding-right: 0px;    font-family: Cookie;
    font-size: xx-large;"
    >
      Photo Rewards
    </ion-title>

    <ion-button
      fill="outline"
      slot="end"
      style="
        --background: white;
        color: black;
        --border-color: rgba(211, 211, 211, 0.9);
        --border-radius: 30px;
        height: 2.3em;
        --padding-start: 10px;
        --padding-end: 10px;
        margin-right: 10px;
      "
      (click)="openAddModalPage()"
      ><img
        alt=""
        slot="start"
        src="../../assets/b.png"
        style="width: 15px; margin-right: 5px;" /><strong>{{credits}}</strong>
      <ion-icon
        color="primary"
        name="add"
        slot="end"
        ng-reflect-color="primary"
        style="margin-left: 0px;"
      ></ion-icon
    ></ion-button>
  </ion-toolbar>
 
</ion-header>


<ion-content>
  <super-tabs>
    <super-tabs-toolbar position="top" showIndicator="true">
      <super-tab-button>
        <ion-button class="supertabtransparentbuttons">
          <ion-icon
            slot="start"
            name="trending-up"
            style="--color: #757575;"
          ></ion-icon>
          Current
        </ion-button>
      </super-tab-button>
      <super-tab-button>
        <ion-button class="supertabtransparentbuttons">
          <ion-icon
            slot="start"
            name="clock"
          ></ion-icon>
          Upcoming
        </ion-button>
      </super-tab-button>
    </super-tabs-toolbar>
    <super-tabs-container>
      <super-tab>
        <ion-content>
          <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
            <ion-refresher-content></ion-refresher-content>
          </ion-refresher>
          <app-tabviewgallery @routeAnimations></app-tabviewgallery>
        </ion-content>
      </super-tab>
      <super-tab>
      </super-tab>
      <super-tab>
      </super-tab>
    </super-tabs-container>
  </super-tabs>
</ion-content>
