<!-- <ion-header>
  <ion-toolbar>
    <ion-title>impageupload</ion-title>
    <ion-buttons slot="end" (click)="closeModal()">
      close
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<ion-content>
   <ion-fab vertical="bottom" horizontal="end" slot="fixed" style="bottom:65px">
    <ion-fab-button (click)="bostPost()">
      <ion-icon name="flame"></ion-icon>
    </ion-fab-button>
  </ion-fab>
     <ion-buttons slot="end" (click)="closeModal()">
      close
    </ion-buttons>
<ion-row>
  <ion-col size="12" class="ion-text-center">
    <img src="{{imageUrl}}" alt="" style="height: 300px">
  </ion-col>
<ion-col size="12">
  
<h5 style="padding-left:16px">Add Title</h5>
  <form #form="ngForm">
    <ion-item>
  <ion-input placeholder="Add your title"></ion-input>
</ion-item>
  </form>    
  
</ion-col>
</ion-row>
</ion-content>
<ion-footer style="background: white;
    padding: 5px;">
  
<ion-button expand="block" style="text-transform:none" (click)="goToTabBar()">Upload Photo - Free</ion-button>
</ion-footer>