<!-- <ion-header>
  <ion-toolbar>
    <ion-title>impageupload</ion-title>
    <ion-buttons slot="end" (click)="closeModal()">
      close
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<ion-content>
   <ion-fab vertical="bottom" horizontal="end" slot="fixed" style="bottom:65px">
    <ion-fab-button (click)="bostPost()">
      <ion-icon name="flame"></ion-icon>
    </ion-fab-button>
  </ion-fab>
   <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed" style="bottom:65px" color="primary">
    <ion-fab-button>
      <ion-icon name="ios-flame-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
    -->
     <ion-buttons slot="end" (click)="closeModal()">
      close
    </ion-buttons>
<ion-row>
  <ion-col size="12" class="ion-text-center">
    <img src="../../assets/image.png" alt="" style="height: 200px;width: 100vw;">
  </ion-col>
<ion-col size="12">
  <h6>Add Title</h6>
  <form #form="ngForm">
    <ion-item lines="none">
  <ion-input placeholder="title"></ion-input>
</ion-item>
       <!-- <ion-item>
 
  <ion-textarea placeholder="Enter more information here..."></ion-textarea>
</ion-item> -->
  </form>    
  
</ion-col>
</ion-row>
</ion-content>
<ion-footer style="background: white;
    padding: 5px;">
  
<ion-button expand="block" style="text-transform:none" (click)="goToTabBar()">Upload Photo - Free</ion-button>
</ion-footer>