ion-card-header{
    padding-top:4px;
}

p , h6{
    margin: 0px;
}

// ion-icon{
//         padding-right: 5px;
// }

ion-button{
        // padding: 0 10px 0px 10px;
        font-weight: 600;
        text-transform: none;
}
