ion-card-header{
    padding-top:4px;
}

p , h6{
    margin: 0px;
}

// ion-icon{
//         padding-right: 5px;
// }

ion-button{
        // padding: 0 10px 0px 10px;
        font-weight: 600;
        text-transform: none;
}

ion-label{
    margin-top: 0px;
}

.heart {
  background-color: red;
  display: inline-block;
  height: 30px;
  margin: 0 10px;
  position: relative;
  top: 0;
  transform: rotate(-45deg);
  width: 30px;
}

.heart:before,
.heart:after {
  content: "";
  background-color: red;
  border-radius: 50%;
  height: 30px;
  position: absolute;
  width: 30px;
}

.heart:before {
  top: -15px;
  left: 0;
}

.heart:after {
  left: 15px;
  top: 0;
}
// .heart {
//   width: 100px;
//   height: 100px;
// //   position: absolute;
// //   left: 50%;
// //   top: 50%;
// //   transform: translate(-50%, -50%);
//   background: url(https://cssanimation.rocks/images/posts/steps/heart.png) no-repeat;
// //   background-position: 0 0;
//   cursor: pointer;
// //   animation: fave-heart 1s steps(28);
// }
// // .heart:hover {
// //   background-position: -2800px 0;
// //   transition: background 1s steps(28);
// // }
@keyframes fave-heart {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -2800px 0;
  }
}

.achievement-container {
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
}

h5 {
    color: #fff;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 2em;
    text-shadow: -1px 2px 15px rgba(0, 0, 0, 0.7);
}
.icon {
 display: inline-block;
 font-size: 35px;
 color: #ffC977;
 vertical-align: middle;
}

.text{
  display: inline-block;
  vertical-align: middle;
}

.iconcolor path{
  fill: red;
}