<ion-row style="margin-top: 15px;">
  <ion-col size="3" text-center>
    <img src="../../../assets/icon/favicon.png" alt="">
  </ion-col>
  <ion-col size="9" text-left>
    <ion-row>
      <ion-col size="10">
<h4>Prateek Agnihotri</h4>
   <ion-text>
     <h6>500 IA Points</h6>
      <h6>prateek.it.555@gmail.com</h6>
    </ion-text>
      </ion-col>
      <ion-col size="2">
        <ion-icon slot="" name="add"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-col>

  

</ion-row>
<ion-row>
  <ion-col size="12" class="ion-text-center">
  <h3>Participation</h3>
    
  </ion-col>
  <ion-col size="12">
    <ion-segment>
  <ion-segment-button value="friends">
    <ion-label>Contests</ion-label>
  </ion-segment-button>
  <ion-segment-button value="enemies">
    <ion-label>Posts</ion-label>
  </ion-segment-button>
</ion-segment>
  </ion-col>
</ion-row>